main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
    padding: 0 10px;
}
/* 左邊選單 */
div.list{width: 15%;}
div.list>ul.product li a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
}
div.list>ul.product{
    margin-top: 10px;
}

/* 右邊商品列 */
div.display{
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
}
div.display>ul.product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.display >h2{
    padding-bottom: 20px;
}
.productPhoto{
    width: 260px;
}

.pic{
    position: relative;
    overflow: hidden;
}

.pic:hover .add-to-cart{
    bottom: 20px;
}
.pic:hover .productPhoto{
    filter: grayscale(50%);
}


.pic .add-to-cart{
    /* width: 90%; */
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(248, 241, 231);
    position: absolute;
    bottom: -50px;
    left: 30px;
    right: 30px;
    transition: bottom 0.1s ease;
    cursor: pointer;

}
.add-to-cart:hover{
    background-color: rgb(110, 20, 6);
    color: aliceblue;
}

div.display>ul.product>li{
    text-align: center;
    margin-bottom: 50px;
    /* flex: 1 0 21%; */
}
.price{
    font-weight: 700;
    font-size: 24px;
    padding: 0;
}

.numberLine{
    text-align: center;
}
.numberLine a{
    font-size: 20px;
    padding-right: 5px;
}

/* 手機斷點 */
@media screen and (max-width:768px) {
    div.list{
        display: none;
    }

    div.display{
        width: 100%;
        margin: 0;
    }
    div.display>ul.product{
        /* justify-content: center; */
        justify-content: space-between;
    }

    div.display>ul.product>li{
        width: calc(50%-10px);
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        flex: 1 0 35%;
    } 
    .productPhoto {
        max-width: 100%; /
    }

    h2 , p {
        font-size: 1em;
    }

    .price{
        font-size: 1em;
    }

    .pic:hover .add-to-cart{
        bottom: 40px;
    }
}
    