
.checklist {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.checklist li{
    background-color: #37140d;
    color: white;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 100px;
    height: 100px;    
}
.checklist li + li{
    margin-left: 86px;
}
.checklist li + li::before{
    content:" " ;
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #37140d;
    margin-left: -107px;
    vertical-align: middle;
}
.checklist li.active ~ li{
    background-color: #b59f9f;
}
.checklist li.active ~ li::before{
    background-color: #b59f9f;
}

.login{
    /* margin: 30px 0; */
    width: 60%;
    margin: auto;
    border: 1px solid #37140d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding:10px;
    text-align: center;
}
.login button{
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(218, 88, 55, 0.606);
    border-radius: 10px;
    border: none;
    padding: 2px 5px;
}

/* 購入商品陳列 */
.buylist{
    max-width: 1000px;
    padding: 30px 0;
    margin: auto;
}

.price>span{
    padding-right: 15px;
}

.item_header{    
    /* width: 1000px; */
    /* width: 100%; */
    /* margin: auto; */
    display: flex;
    background-color: #37140d;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.item_header > .item_detail{
    width: 30%;
    border: 1px solid white;
}
.item_header > .discount{
    width: 15%;
    border: 1px solid white;
}
.item_header > .price{
    width: 15%;
    border: 1px solid white;
}
.item_header > .count{
    width: 20%;
    border: 1px solid white;
}
.item_header > .amount{
    width: 15%;
    border: 1px solid white;
}
.item_header > .delete{
    width: 5%;
    border: 1px solid white;
}

.item_body{
    /* width: 1000px; */
    /* width: 100%; */
    /* margin: auto; */
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px 0;
}
.item_detail img{
    width: 20%;
    /* float: left; */
    
}
.item_body > .delete img{
    width: 65%;
}

.item_body > .item_detail{
    width: 30%;
    display: flex;
    align-items: center;
}
.item_body > .discount{
    width: 15%;
}
.item_body > .price{
    width: 15%;
}
.item_body > .count{
    width: 20%;
}
.item_body > .amount{
    width: 15%;
}
.item_body > .delete{
    width: 5%;
    cursor: pointer;
}

/* 寄送+付款+總金額 */
.information{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.deliverPay{
    width: 59%;
}

.orderTotal{
    width: 39%;
}

.i_h_orderTotal , .i_h_deliverPay{
    padding-left: 5px;
}

.deliverPay h2{
    font-size: 20px;
    line-height: 2;
}

.itemTotal{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.choose{
    width: 30%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.choose button{
    font-size: 18px;
    background-color: #ebdedb;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

/* 手機斷點 */
@media screen and (max-width:768px){
    div.price>span{
        font-size: 0.7em;
        padding: 5px;
    }

    .information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buylist {
        width: 95%;
    }
    .deliverPay, .orderTotal{
        width: 90%;
        margin: 30px 0;
    }

    .choose{
        width: 60%;
    }
    div.btnNum{
        width: 70%;
    }
}